
.main-nav {
    z-index: 5;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.4);
    position: absolute;
    left: 0;
    top: 0;

}

.link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
}

.right-links {
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
}



@media only screen and (max-width: 375px) {
    .right-links {
        width: 11rem;
    }

    .logo {
        font-size: 1rem;
    }
}



