.cart-wrapper {
    max-width: 50rem;
    margin: 3rem auto 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr;
    justify-content: center;
    
}

@media only screen and (min-width: 720px) {
    .catalogue {
        grid-template-columns: repeat(2, 3fr);
    }
}