.App {
    font-family: 'Work Sans', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

button {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}